node_modules
dist
*.log
*.env
.git
.gitignore
Dockerfile
docker-compose.yml
botInfo
.husky
.github
.commitlintrc.js
.eslintrc.json
.eslintignore
.releaserc.json
CHANGELOG.md
init-mongo.sh
jest.config.js
README.md
